[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://package_read:${CI_PIP_GITLABJUSMUNDI_TOKEN}@gitlab.com/api/v4/groups/7364654/-/packages/pypi/simple"
verify_ssl = false
name = "gitlab"

[packages]
alembic = ">=1.16.5"
arel = ">=0.3.0"
asyevent = ">=0.2.10"
asyncpg = ">=0.28.0"
# awscli = ">=1.27.165" # python 3.8
awscli = ">=1.32.11" # python 3.10 awscli 1.32.22 requires docutils<0.17,>=0.10
awscli-plugin-endpoint = ">=0.4"
ansicolors = ">=1.1.8"
bcrypt = ">=4.0.1"
# certifi = "2023.7.22" # CVE-2023-37920
# cfgv = ">=3.3.0"
# chardet = ">=3.0.4"
click = ">=8.1.3"
click-completion = ">=0.5.2"
# colorama = ">=0.4.6" # awscli needed
cryptography = ">=41.0.3"
databases = ">=0.5.3"
deprecated = ">=1.2.18" # For opentelemetry https://github.com/open-telemetry/opentelemetry-python/issues/4020
ddtrace = ">=3.12.2"
dd-import = ">=1.0.12"
# faiss-cpu = ">=1.10.0" # 1.12.0
fastapi = {version = ">=0.115.3", extras = ["standard"]}
fastapi-featureflags = ">=0.4.7"
fastmcp = ">=2.12.2"
fastapi-mail = ">=1.5.0"
fastapi-users = {version = ">=14.0.1", extras = ["sqlalchemy"]}
fastapi-cache2 = {version = ">=0.2.2", extras = ["redis"]} # NOK aioredis deprecated
# fastapi-plugins = ">=0.14.0"
httpx = ">=0.27.2"
git-url-parse = ">=1.2.2"
gitpython = ">=3.1.33"
grafana-openai-monitoring = ">=0.0.8"
influxdb-client = ">=1.37.0"
jinja2 = ">=3.1.6"
langgraph = ">=0.6.6"
langchain = ">=0.3.27"
langchain-openai = ">=0.3.32"
logfire = ">=4.2.0"
locust = ">=2.18.3"
# ovh = ">=1.2.0"
mypy = ">=1.16.0"
openai = ">=1.95.0"
opentelemetry-distro = ">=0.47b0"
opentelemetry-exporter-otlp = ">=1.30.0"
opentelemetry-instrumentation-fastapi = ">=0.47b0"
opentelemetry-instrumentation-logging = ">=0.47b0"
opentelemetry-exporter-jaeger-thrift = ">=1.13.0"
opentelemetry-api = ">=1.30.0"
opentelemetry-sdk = ">=1.30.0"
passlib = ">=1.7.4"
pandas = ">=2.2.1"
plotly = ">=6.3.0"
polars = ">=1.32.3"
pybreaker = ">=1.4.0"
podmena = ">=0.6.1"
# psycopg2 = ">=2.9.7"  # WARNING need sudo apt-get install libpq-dev
psycopg = {version = ">=3.2.10", extras = ["binary","pool"]}
pyarrow = ">=16.0.0"
# pydantic = {version = ">=2.6.1", extras = ["dotenv"]}
pydantic = ">=2.6.1"
pydantic-settings = "*" # Defined by pydantic
# PyMuPDF = ">=1.26.4"
pyroscope-io = ">=0.8.5"
python-json-logger = ">=2.0.7"
python-keycloak = ">=4.4.0"
python-keystoneclient = ">=5.1.0"
python-multipart = ">=0.0.20"
python-swiftclient = ">=4.2.0"
prometheus-client = ">=0.16.0"
pyyaml = ">=6.0" # awscli needed
pyjwt = ">=2.7.0"
redis = ">=4.6.0"
requests = ">=2.31.0"
reretry = ">=0.11.8"
slowapi = ">=0.1.9"
# six = ">=1.16.0" # awscli needed
sentence-transformers = ">=5.1.0"
# sentry-sdk = {version = "*", extras = ["fastapi"]}
spacy = ">=3.5.4"
sqladmin = {version = ">=0.21.0", extras = ["full"]}
sqlalchemy = ">=2.0.20"
sqlmodel = ">=0.0.25"
sqlfluff = ">=3.1.0"
sse-starlette = ">=2.3.6"
structlog = ">=25.4.0"
types-pytz = ">=2025.2.0.20250809"
termcolor = ">=2.1.1"
gunicorn = ">=23.0.0"
urllib3 = ">=2.2.2" # awscli needed
uvicorn-worker = ">=0.2.0"
traceback2 = ">=1.4.0"
webtypy = ">=0.1.7"
"web.py" = ">=0.62"

[dev-packages]
ansible-core = ">=2.16.8"
ansible-lint = ">=25.8.2"
ansible-navigator = ">=1.1.0"
ansible-runner = ">=2.2.1"
ansible-builder = ">=1.1.0"
ansible-playbook-grapher = ">=1.2.0"
autopep8 = ">=2.0.1"
bandit = ">=1.8.3"
black = {version = ">=23.7.0", extras = ["d"]}
checkov = ">=2.3.115"
coverage = ">= 7.2.7"
cyclonedx-bom = ">=4.5.0"
flake8 = ">=7.1.1"
flake8-formatter-junit-xml = ">=0.0.6"
jira = ">=3.8.0"
molecule = ">=5.1.0"
nox = ">=2023.4.22"
packaging = ">=24.2"
poetry = ">=2.1.3"
pep8 = ">=1.7.1"
pep8-naming = ">=0.13.2"
# pip-upgrader = ">=1.4.15"
# pipenv>=2023.12.0
pre-commit = ">=4.0.1"
# pre-commit-hooks = ">=4.4.0"
pylint = ">=2.15.6"
pylint-junit = ">=0.3.2"
pytest = ">=7.2.0"
pytest-asyncio = ">=0.20.2"
pytest-cov = ">=4.0.0"
pytest-env = ">=1.1.5"
pytest-dependency = ">=0.5.1"
pytest-order = ">=1.0.1"
# pip install --upgrade pytest-testinfra
pytest-testinfra = ">=6.4.0"
readme-renderer = {version = ">=37.3", extras = ["md"]}
ruff = ">=0.5.1"
selenium = ">=4.6.0"
# semgrep = ">=1.15.0"
# setup-cfg-fmt = ">=2.2.0"
setuptools = ">=80.7.1"
# docutils = ">=0.16" # pip install docutils==0.20.1 fix for sphinx https://github.com/sphinx-doc/sphinx/pull/10597 docutils needed by sphinx
sphinx = ">=7.1.2" # 4.2.0 is ok with awscli, 7.2.6 docutils conflicting with awscli 1.32.22 requires docutils<0.17,>=0.10 https://github.com/aws/aws-cli/blob/develop/setup.cfg#L7C9-L7C17
# testinfra = ">=6.0.0" pip uninstall testinfra
tox = ">=3.27.1"
twine = ">=4.0.2"
versioneer = {version = ">=0.29", extras = ["toml"]}
versioningit = ">=3.3.0"
# wheel = ">=0.45.1"
# jupyter-client = ">=8.6.0"
jupyterlab = ">=3.4.3"
jupyterlab-code-formatter = ">=1.5.3"
jupyterlab-execute-time = ">=2.1.0"
jupyterlab-git = ">=0.37.1"
# jupyter-resource-usage = ">=0.7.2"
jupyterlab-system-monitor = ">=0.8.0"
# jupyterlab-templates = ">=0.3.1"
# scikit-learn = "==1.1.1"
# snowflake-connector-python = {extras = ["pandas"], version = ">=2.7.8"}
# snowflake-sqlalchemy = ">=1.4.4"
# tensorflow = "==2.9.1"

# [requires]
# python_version = ">=3.12"
